{% extends '_base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Detalhes do Evento</h2>
                
                <h3> Tema </h3>
                {{ evento.tema }}

                <h3>Data</h3>
                {{evento.data}}

                <h3>Sediadores</h3>
                {{evento.apresentadores}}

                <h3>Descrição</h3>
                {{evento.descricao}}

                <h3>Lugar</h3>
                {{evento.lugar}}


            </div>
        </div>
    </div>
</div>

{% endblock %}