{% extends '_base.html' %}

{% load bootstrap %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Eventos Marcados</h4>
                   <div class="text-right mr-3">
                        <a href="/eventos/criar">
                           
                            <button type="button" class="btn mb-1 btn-info">
                                Adicionar <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </button>
                        </a>
                    </div>

                <div class="table-responsive">
                    <table class="table header-border">
                        <thead>
                            <tr>
                                <th width="40%">Tema</th>
                                <th width="40%">Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if eventos %}
                            {% for e in eventos %}
                            <tr>
                                <td> <a href="/eventos/{{ e.id }}/">{{ e.tema }}</a> </td>
                                <td> <a href="/eventos/{{ e.id }}/">{{ e.data }}</a> </td>
                                <td>
                                    <a href="/eventos/editar/{{ e.id }}">
                                        <button type="button" class="btn mb-1 btn-primary">
                                            Editar <span class="btn-icon-right"> <i class="fa fa-edit"></i> </span>
                                        </button>
                                    </a>
                                </td>
                                
                                <td> <a href="/eventos/excluir/{{ e.id }}">
                                        <button type="button" class="btn mb-1 btn-danger">
                                            Excluir <span class="btn-icon-right"> <i class="fa fa-close"></i> </span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}

                            <tr>
                                <td>Não há eventos marcados.</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}